div#controls>* {
    margin-bottom: 1em;
}

div#controls>div#controlButtons {
    display: flex;
    justify-content: space-between;
}

div#tools {
    position: fixed;
    background: white;
    top: 0;
    left: 0;
    bottom: 0;
    overflow-y: scroll;
    padding: 1em;
    border-right: 1px solid black;
}

div#registers table th,
div#registers table tr {
    width: 3em;
}

div#registers table th {
    text-align: right;
}

ul {
    list-style: none;
}

li.selected {
    background: rgba( 127, 127, 255, 0.35);
}

span {
    font-family: "monospace";
    display: inline-block;
}

span.label:not(.arg) {
    margin-top: 1.5em;
}

span.separator {
    width: 2em;
}

span.op {
    display: inline-block;
    width: 4em;
    color: #c57825;
    font-weight: bold;
}

span.register {
    color: #2543c5;
}

span.literal {
    color: #5e8759;
}

span.addr {
    display: inline-block;
    width: 7.5em;
    color: rgba( 0, 0, 0, 0.60);
}
